node_modules
vendor
.env
.env.*
!.env.example
.git
.github
.idea
.vscode
tests
*.md
.phpunit.result.cache
npm-debug.log
yarn-error.log
pnpm-debug.log
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
